USE [MatabDB]
GO
/****** Object:  StoredProcedure [dbo].[SelectMonshi]    Script Date: 3/2/2020 5:05:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER proc [dbo].[SelectMonshi]
AS
select * from Monshi  
